/* body{
  background-image: url("/img/Background_Web.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
  height: 100%; 
} */

.header .judulWeb{
  margin-left:15%;
  margin-top:-12%;
  padding:5%;
}

.header .judulWeb h1{
  font-size: 350%;
}


.header .logoUnpar{
  width:11%;
  margin-left:5%;
}



.w-5{
    display:none;
}

.kolom{
    margin-top:5%;
}
.table{
    text-align:center;
    vertical-align:middle;
}

.tombolNextPrev a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 18px;
    float:right;
  }
  
.tombolNextPrev a:hover {
    background-color:darkgreen;
    color:white;
  }
  
.tombolNextPrev .previous {
    margin-top: 5%;
    background-color: green;
    color: white;
    float:left;
  }
  
.tombolNextPrev .next {
    background-color: green;
    color: white;
  }
  
.tombolNextPrev .round {
    border-radius: 50%;
  }


.headerPenentuanBobot h2{
  margin-left: 15%;;
}


.penentuanBobot {
  margin-left:25%;
  padding:5%;
}


.opsi1 h5{
  display:inline;
}

.opsi1 select{
  margin-left: 5%;
}

.opsi2 h5{
  display:inline;
}

.opsi2 select{
  margin-left: 12.4%;
}

.opsi2{
  margin-top:3%;
}


.opsi3 select{
  margin-left: 6%;
}

.opsi3 h5{
  display:inline;
}

.opsi3{
  margin-top:3%;
}


.opsi4 input{
  margin-left: 25%;
  margin-bottom:15%;
  width: 7%;
}

.opsi4 h5{
  display:inline;
}

.opsi4{
  margin-top:3%;
}

.tombolSeleksi{
  text-align:center;
  margin-top:-5%;
}




