/* body{
  background-image: url("/img/Background_Web.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
  height: 100%; 
} */

.header .judulWeb{
  margin-left:15%;
  margin-top:-12%;
  padding:5%;
}

.header .judulWeb h1{
  font-size: 350%;
}


.header .logoUnpar{
  width:11%;
  margin-left:5%;
}



.w-5{
    display:none;
}

.kolom{
    margin-top:5%;
}
.table{
    text-align:center;
    vertical-align:middle;
}

.tombolNext a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 18px;
    float:right;
  }
  
.tombolNext a:hover {
    background-color:darkgreen;
    color:white;
  }
  
/* .tombolNext .previous {
    background-color: #f1f1f1;
    color: black;
  } */
  
.tombolNext .next {
    background-color: green;
    color: white;
  }
  
.tombolNext .round {
    border-radius: 50%;
  }

